:root {
    // screen sizes
    --screen-sm: 480px;
    --screen-md: 768px;
    --screen-lg: 1024px;
    --screen-xl: 1440px;

    // padding at generalized sizes.
    --padding-4: 4px;
    --padding-8: 8px;
    --padding-12: 12px;
    --padding-16: 16px;
    --padding-20: 20px;
    --padding-24: 24px;
    --padding-28: 28px;
    --padding-32: 32px;
    --padding-36: 36px;
    --padding-40: 40px;
}
