@import './config/variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0 var(--padding-40) var(--padding-40) var(--padding-40);

    .pages {
        width: min(100%, var(--screen-xl));
        padding: var(--padding-20) 0;
    }
}
