@use './config/variables' as *;

* {
    font-family: 'Roboto';
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background: $white;

    .pages {
        width: min(100%, calc($size-max + 120px));
        height: 100%;
        padding: $pad-60;
    }
}
