@use './config/variables/padding.scss' as *;
@use './config/variables/screen.scss' as *;
@use './config/variables/colors.scss' as *;

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: $white;

    .pages {
        width: min(100%, calc($size-max + 120px));
        padding: $pad-60;
    }
}
